
@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<p>
    The gameplay for Dirt Bike Racing is supposed to involve the user navigating the cyclist around obstacles. However due to time constraints we only have the cyclist driving in a straight line towards a goal. We have a shop that is linked to a user and has unlockables. You can see the current user's stats in the profile secction.
</p>
<p>
    Controls:
</p>
<p>
    Arrow Right: moves the cyclist right
</p>
<p>
    Spacebar: activates Nos and increases the speed of the cyclist.
</p>
    
    


