
@{
    ViewData["Title"] = "Shop";
}


<link rel="stylesheet" href="~/css/shop.css">

<h1>Shop</h1>

<body>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <p>NOS</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a NOS container to your inventory that can be used to give a speed boost to your next race!</p>
                    <button type="button" class="btn">Buy now!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Red Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a red color to your dirtbike!</p>
                    <button type="button" class="btn">Buy now!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Blue Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a blue color to your dirtbike!</p>
                    <button type="button" class="btn">Buy now!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Green Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a green color to your dirtbike!</p>
                    <button type="button" class="btn">Buy now!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Purple Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a purple color to your dirtbike!</p>
                    <button type="button" class="btn">Buy now!</button>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Chrome Skin</p>
                    <img src="~/images/tempbike.jpg" alt="tmp" height="100" width="100" />
                </td>
                <td>
                    <p>Adds a chrome color to your dirtbike!</p>
                    <button type="button" class="btn">Buy now!</button>
                </td>
            </tr>

        </tbody>
    </table>
</body>