
/*
    #EEE5E9 - pearl
    #D64933 - redthing
    #7C7C7C - greay
    #92DCE5 - blue

*/

body {
    background-color: #EEE5E9;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
}

h3 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

table {
    text-align: center;
    width: 100%;
}

th {
    background-color: #7C7C7C;
    color: black;
}

tr {
    background-color: #92DCE5;
    color: black;
}

td {
    color: #D64933;
}