/*
    #EEE5E9 - pearl
    #D64933 - redthing
    #7C7C7C - greay
    #92DCE5 - blue

*/



/*
table button {
    background-color: #D64933;
    color: black;
}

table .btn {
    background-color: #D64933;
    color: black;
}
    */



body {
    background-color: #EEE5E9;
}

h1 {
    text-align: center;
    text-decoration: underline;
    color: black;
}

h2 {
    text-align: center;
}

h3{text-align: center;}

table {
    text-align: center;
    width: 100%;
}

th {
    background-color: #7C7C7C;
    color: black;
}

tr {
    background-color: #92DCE5;
    color: black;
}

